CONTAINER_TYPE={{ "dc_internal_dns" if samba_dns_backend == "SAMBA_INTERNAL" else "dc_bind_dns" }}
ACTION={{ "provision" if samba_flavor == "master" else "join" }}
DNS_BACKEND={{ samba_dns_backend }}
CONTAINER_PROVISIONED={{ 0 if not samba_deploy_soft else 1 }}
MODE=DOCKER
BACKENDSTORE={{ samba_backend_store | lower }}
MACHINENAME={{ inventory_hostname_short | lower }}
DOMAIN={{ samba_domain | upper }}
REALM={{ samba_realm | upper }}
INTERFACES=lo {{ samba_address }}
ADMIN_PASS={{ samba_admin_pass }}
DNSDOMAIN={{ samba_realm | lower }}
USER_NAME=Administrator
WORKGROUP={{ samba_domain | upper }}
